@page "/tipoestudios/crear"
@inject ITipoEstudioService servicioTipoEstudio
@inject NavigationManager nav
@inject SweetAlertService sweetAlertService

<h3>Crear Tipo de Estudio</h3>

<EditForm EditContext="contextoEdicion">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@tipoEstudio.Nombre" />
            <ValidationMessage For="@(() => tipoEstudio.Nombre)" />
        </div>
    </div>

    <button class="btn btn-primary" @onclick="CrearTipoEstudio">Guardar</button>
    <button class="btn btn-primary" @onclick="CancelarEdicion">Cancelar</button>
</EditForm>

@code {
    private EditContext contextoEdicion;
    private TipoEstudio tipoEstudio = new();

    protected override void OnInitialized()
    {
        contextoEdicion = new EditContext(tipoEstudio);
    }

    private async Task CrearTipoEstudio()
    {
        if (contextoEdicion.Validate())
        {
            string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";
            tipoEstudio.PartitionKey = "TipoEstudios";
            tipoEstudio.Estado = "Activo";
            var respuesta = await servicioTipoEstudio.InsertarTipoEstudio(tipoEstudio, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo guardar", SweetAlertIcon.Error);
                return;
            }
            nav.NavigateTo("/tipoestudios", forceLoad: true);
        }
    }
    private async Task CancelarEdicion()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de cancelar la creación del tipo de estudio? Los cambios no guardados se perderán.",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Sí"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            nav.NavigateTo("/tipoestudios", forceLoad: true);
        }
    }
}
