@page "/direcciones"
@using Coling.Shared
@inject IDireccionService direccionService
@inject IPersonaService personaService
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Listar Direcciones</h3>

<div class="form-group row">
    <div class="col-sm-10">
        <a href="/direccion/crear" class="btn btn-primary m-1">Agregar Nueva</a>
    </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th><strong>Descripción</strong></th>
                <th><strong>Nombre de la Persona</strong></th>
                <th><strong>Estado</strong></th>
                <th><strong>Acciones</strong></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var direccion in DireccionesLista)
            {
                <tr>
                    <td>@direccion.Descripcion</td>
                    <td>@ObtenerNombrePersona(direccion.IdPersona)</td>
                    <td>@direccion.Estado</td>
                    <td>
                        <button class="btn btn-primary" @onclick="()=>EditarDireccion(direccion.Id)">Editar</button>
                        <button class="btn btn-danger" @onclick="() => ConfirmarBorrarDireccion(direccion.Id)">Borrar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    public List<Direccion> DireccionesLista { get; set; } = new List<Direccion>();
    public Dictionary<int, string> NombresPersonas { get; set; } = new Dictionary<int, string>();

    protected override async Task OnInitializedAsync()
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";

        // Obtener la lista de direcciones
        DireccionesLista = await direccionService.ListaDirecciones(token);

        // Obtener los nombres de las personas asociadas a las direcciones
        foreach (var direccion in DireccionesLista)
        {
            // Verificar si la clave ya existe en el diccionario
            if (!NombresPersonas.ContainsKey(direccion.IdPersona))
            {
                var persona = await personaService.ObtenerPersonaPorId(direccion.IdPersona, token);
                NombresPersonas.Add(direccion.IdPersona, persona != null ? $"{persona.Nombre} {persona.Apellidos}" : "Desconocido");
            }
        }
    }

    private void EditarDireccion(int id)
    {
        navigationManager.NavigateTo($"/direccion/editar/{id}");
    }

    private async Task ConfirmarBorrarDireccion(int id)
    {
        var resultado = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "¿Estás seguro de borrar esta dirección?",
                Text = "Esta acción no se puede deshacer",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, borrar",
                CancelButtonText = "Cancelar"
            });

        if (resultado.IsConfirmed)
        {
            await BorrarDireccion(id);
        }
    }

    private async Task BorrarDireccion(int id)
    {
        string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";
        var exito = await direccionService.BorrarDireccion(id, token);

        if (exito)
        {
            navigationManager.NavigateTo("/direcciones", forceLoad: true);
        }
        else
        {
            await sweetAlertService.FireAsync("Error", "No se pudo borrar la dirección", SweetAlertIcon.Error);
        }
    }

    private string ObtenerNombrePersona(int idPersona)
    {
        if (NombresPersonas.ContainsKey(idPersona))
        {
            return NombresPersonas[idPersona];
        }
        else
        {
            return "Desconocido";
        }
    }
}
