@page "/idioma/crear"
@using Coling.Shared
@inject IIdiomaService idiomaService
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Crear Idioma</h3>

<EditForm EditContext="contextoEdicion" OnValidSubmit="CrearIdioma">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="@idioma.NombreIdioma" />
            <ValidationMessage For="@(() => idioma.NombreIdioma)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-primary" @onclick="CancelarEdicion">Cancelar</button>
</EditForm>

@code {
    private EditContext contextoEdicion;
    private Idioma idioma = new Idioma();

    protected override void OnInitialized()
    {
        contextoEdicion = new EditContext(idioma);
    }

    private async Task CrearIdioma()
    {
        if (contextoEdicion.Validate())
        {
            string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c3VhcmlvIjoibWFyY28iLCJyb2wiOiJBZG1pbiIsImVzdGFkbyI6IkFjdGl2byIsImV4cCI6MTcxNDY5ODU1N30.MXG3tCUNsze-FNZo_E-2D7SJpOLPCclRbNvnbU1P4iY";
            idioma.Estado = "Activo";
            var respuesta = await idiomaService.InsertarIdioma(idioma, token);
            if (!respuesta)
            {
                await sweetAlertService.FireAsync("Error", "No se pudo guardar el idioma", SweetAlertIcon.Error);
                return;
            }
            navigationManager.NavigateTo("/idiomas", forceLoad: true);
        }
    }

    private async Task CancelarEdicion()
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Está seguro de cancelar la creación del idioma? Los cambios no guardados se perderán.",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Sí"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            navigationManager.NavigateTo("/idiomas", forceLoad: true);
        }
    }
}
